*{
    margin:0;
    padding:0;
    list-style: none;
    vertical-align: baseline;
  }
  
  div{
    position: relative;
    z-index: 2;
  }
  
  body{
    background-color: rgb(87, 189, 180);
    color: #333;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    display: flex;
    justify-content: center;
    height: 100 vh;
  }
  
  .footer {
    width: 450px;
    text-align: center;
    display: block;
    margin: 15px auto 30px auto;
    font-size: 0.8em;
    color: #fff;
    
  }
  #ref {
    font-weight: 500;
    text-decoration: none;
    color: #fff;
  }